<template>
  <main @keydown="handleKeypress" class="col-12">
    <div class="card mt-3 mb-3">
      <div class="card-header">
        Booking Details
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li v-if="Object.entries(booking).length > 0" class="list-group-item">
            User: {{ booking.user.username }}
          </li>
          <li class="list-group-item">
            Booked By: {{ booking.creator }}
          </li>
          <li v-if="booking.approval_status == 1" class="list-group-item">
            This booking is approved
          </li>
          <li v-if="booking.approval_status == 0" class="list-group-item">
            This booking is awaiting approval
            <button v-if="admin_mode" class="btn btn-outline-success" @click="approveClicked"><i class="fas fa-check"></i> Approve</button>
            <button v-if="admin_mode" class="btn btn-outline-danger" @click="rejectClicked"><i class="fas fa-times"></i> Reject</button>
          </li>
          <li v-if="booking.approval_status == 2" class="list-group-item">
            This booking was rejected
          </li>
        </ul>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Schedule
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li :key="event.id" v-for="event in booking.events" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-6">
              Start Date: {{ formattedDateTime(event.start) }}
            </div>
            <div class="col-6">
              End Date: {{ formattedDateTime(event.end) }}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Resources
        <button v-if="enableScanning === true" v-on:click="toggleScanMode" class="btn btn-primary btn-sm float-right">
          <i class="fas fa-barcode"></i>
          <span v-if="scan_mode">Stop Scanning</span>
          <span v-else>Scan</span>
        </button>
      </div>
      <div class="card-body">
        <div v-if="scan_mode">
          Listening for barcodes...
          <div v-if="barcode.length > 0">Barcode: {{ barcode }}</div>
        </div>
        <div v-if="loading" >
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
            Awaiting response...
        </div>
        <ul class="list-group">
          <li :key="eq.id" v-for="eq in booking.equipment" class="list-group-item d-flex justify-content-between align-items-center">
            {{ eq.name }} / {{ eq.barcode }}
            <span v-bind:class="classObject(eq.id)" class="badge badge-pill"> {{ equip_statuses[eq.id] }}</span>
          </li>
        </ul>
      </div>
    </div>

  </main>
</template>

<script>
import axios from 'axios';
import moment from 'moment';

export default {
  name: 'SignInOut',
  data() {
    return {
      booking_id: -1,
      booking: {},
      equip_statuses: {},
      scan_mode: false,
      barcode: "",
      loading: false,
      admin_mode: false,
      url_root: ""
    }
  },

  mounted() {
    var self = this;
    // handle barcodes
    // this.keydown(self.handleKeypress);

    // get booking details from hidden form element
    let b_id_el = document.getElementById("booking_id");
    let b_id = b_id_el.value;
    self.booking_id = b_id;
    axios.get(`./bookings/${self.booking_id}.json`)
    .then(function(response){
      self.booking = response.data;
    })

    // get admin details from hidden form element
    // defaults to false unless true is specified in form element
    let admin_el = document.getElementById("admin_status")
    let admin_val = admin_el.value;
    if (admin_val == "true"){
      self.admin_mode = true
    }

    // get equipment statuses from hidden form element
    let e_status_el = document.getElementById("equip_statuses");
    let e_statuses = e_status_el.value;
    // element should contain JSON in a string so we need to 
    // parse it
    self.equip_statuses = JSON.parse(e_statuses);
  },
  computed: {

    enableScanning: function(){
      // if user is not an admin, don't enable scanning
      if (this.admin_mode == false) {
        return false;
      }

      // if all items are signed in and it is not a recurring booking
      // then disable scanning
      let all_in = true;
      for (const eq in this.equip_statuses){
        if (this.equip_statuses[eq] != "In"){
          all_in = false;
        }
      }
      let recurring_booking = false;
      if (Object.entries(this.booking).length > 0) {
        recurring_booking = this.booking.events.length > 1;
      }
      else {
        recurring_booking = false
      }

      if (all_in && !recurring_booking){
        return false;
      }
      else {
        return true;
      }
    },
  },
  methods: {
    approveClicked(){
      axios.get(`./bookings/${this.booking_id}/approve`)
        .then(function(response){
          self.booking = response.data;
          window.location.reload();
      })
    },
    rejectClicked(){
      axios.get(`./bookings/${this.booking_id}/reject`)
        .then(function(response){
          self.booking = response.data;
          window.location.reload();
      })

    },
    formattedDateTime(date_time_string){
      return moment(date_time_string).format("YYYY-MM-DD h:mm a");
    },
    classObject(eq_id) {
      return {
        'badge-primary': this.equip_statuses[eq_id] != "Signed out" || this.equip_statuses[eq_id] != "Signed in",
        'badge-success': this.equip_statuses[eq_id] == "Signed out" || this.equip_statuses[eq_id] == "Signed in" || this.equip_statuses[eq_id] == "In",
        'badge-danger': this.equip_statuses[eq_id] == "Overdue"
      }
    },
    handleKeypress(e) {
      // if scanning has been enabled, react to keypresses
      if(this.scan_mode) {
        // excluded keys (don't add modifier keys to barcode)
        let excludedKeys = ["Alt", "Shift", "Control", "Meta"];
        // if the character is the <cr> at the end of a barcode scan
        // then assume the barcode is complete and proceed
        if (e.keyCode === 13){
          // ensure the enter key does not press the Scan button
          e.preventDefault();
          // check if the barcode matches any equipment in the booking
          for (const eq in this.booking.equipment) {
            if (this.booking.equipment[eq].barcode === this.barcode){
              let eq_id = this.booking.equipment[eq].id;
              this.updateEquipmentStatus(eq_id);
            }
          }
          // finish by clearing the barcode
          this.barcode = "";
        }
        else {
          // get the character and append it to the barcode string
          // provided it isn't a modifier key listed above
          if(!excludedKeys.includes(e.key)){
            this.barcode += e.key
          }
        }
      }
    },
    updateEquipmentStatus(equipment_id){
      var token = document.querySelector('meta[name="csrf-token"]').content
      const item_status = this.equip_statuses[equipment_id]
      // show loading spinner
      this.loading = true;

      // send id of booking and equipment to controller
      // and it will figure out the best response
      axios.post(`./bookings/${this.booking_id}/scan.json`,{
        equip_id: equipment_id,
        authenticity_token: token
      })
      .then(response => {
        this.equip_statuses[equipment_id] = response.data.new_label
        // hide loading spinner
        this.loading = false;
      })
    },
    toggleScanMode() {
      this.scan_mode = !this.scan_mode;
    }
  }
}
</script>

<style lang="css">
</style>