<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% collection = Collection.first %>
    Hi <%= @user.username %>,
    <p>
      Your reservation for the following equipment from <%= collection.settings(:email).template_booking_from %>:
      <ul>
        <% @booking.equipment.each do |e| %>
          <li><%= e.name %></li>
        <% end %>
      </ul>
      For the following dates and times:
      <% if @booking.events.count > 1 %>
        For the following dates and times:
        <ul>
          <% @booking.events.each do |e| %>
            <li><%= e.start.localtime.strftime("%B %d, %Y at %I:%M %p") %> to <%= e.end.localtime.strftime("%B %d, %Y at %I:%M %p") %></li>
          <% end %>
        </ul>
      <% else %>
        <% e = @booking.events.first %>
        Pickup time: <%= e.start.localtime.strftime("%B %d, %Y at %I:%M %p") %><br />
        Return time: <%= e.end.localtime.strftime("%B %d, %Y at %I:%M %p") %>
      <% end %>
    </p>
    <p>
      Has been rejected.
    </p>
    <p>If you want to follow up, please reply to this email.</p>
    <p><%= collection.settings(:email).template_salutation %></p>
  </body>
</html>