<template>
  <div class="row mb-3 mt-3">
    <div v-if="!embedView" class="col-3">
      <h6>Filters</h6>
      <v-select 
        id="tag_filter" 
        class="side-filter"
        multiple 
        v-model="chosen_tag_ids" 
        @input="updateTags" 
        placeholder="Filter by tags" 
        :options="all_tags" 
        label="name" 
        :reduce="tag => tag.id">
      </v-select>
      <v-select 
        id="equipment_filter" 
        class="side-filter"
        multiple 
        :filterable="false"
        v-model="chosen_equip_ids" 
        @input="updateEquipment" 
        placeholder="Search By Resource Name" 
        :options="equipment_search_results"
        label="name"
        :reduce="equipment => equipment.id"
        @search="fetchResources">
      </v-select>
      <v-select 
        label="username"
        class="side-filter"
        @search="fetchUsers"
        :options="user_search_results"
        placeholder="Search By Username"
        v-model="selected_user_details"
        @input="updateUser"
        :reduce="user => user.id">
      </v-select>
      <h6>Actions</h6>
      <div class="form-check">
        <label class="form-check-label">
        <input v-model="show_equip" type="checkbox" class="form-check-input">
          Show Equipment
        </label>
      </div>
      <a href="./bookings/new" role="button" class="btn btn-primary"><i class="fas fa-calendar-plus"></i> New Reservation</a>
      
    </div>

    <div class="col-9">
      <FullCalendar ref="fullCalendar" :options='calendarOptions'>
        <template v-slot:eventContent='arg'>
          <!-- <div v-if="arg.view.type == 'dayGridMonth' || arg.view.type == 'dayGridWeek'" class="fc-daygrid-event-dot"></div> -->
          <b>{{arg.event.extendedProps.username}}</b> 
          {{ arg.timeText }}<br />
          <div class="equip-section" v-if="show_equip">
            <span class="equip-text" v-if="arg.view.type=='timeGridDay'">{{ arg.event.extendedProps.equip.map(e => e.name).join("; ") }}</span>
            <ul v-else class="equip-list">
              <li :key="eq.id" v-for="eq in arg.event.extendedProps.equip">
                {{eq.name}}
              </li>
            </ul>
          </div>
        </template>
      </FullCalendar>
    </div>

  </div>
</template>

<script>
import '@fullcalendar/core/vdom';
import FullCalendar from '@fullcalendar/vue';
import '@fullcalendar/bootstrap/main.css';
import dayGridPlugin from '@fullcalendar/daygrid';
import timeGridPlugin from '@fullcalendar/timegrid';
import interactionPlugin from '@fullcalendar/interaction';
import bootstrapPlugin from '@fullcalendar/bootstrap';
import listPlugin from '@fullcalendar/list';
import vSelect from 'vue-select';
import moment from 'moment';
import axios from 'axios';

export default {
  name: 'Calendar',
  components: {
    FullCalendar,
    vSelect
  },
  props: ['startDate','embedView'],
  watch: {
    startDate: function(new_date, old_date) {
      let calendarApi = this.$refs.fullCalendar.getApi();
      calendarApi.gotoDate(new_date)
    },
    show_equip: function(){
      let calendarApi = this.$refs.fullCalendar.getApi();
      calendarApi.render();
    }
  },
  data: function() {
    return {
      eventsURL: `./events/calendar`,
      currentURL: `./events/calendar`,
      chosen_tag_ids: [],
      all_tags: [],
      chosen_equip_ids: [],
      equipment_search_results: [],
      selected_user_details: [],
      user_search_results: [],
      show_equip: true,
      calendarOptions: {
        slotDuration: '00:15:00',
        initialView: "timeGridDay",
        eventDisplay: "block",
        headerToolbar: {
          start:   'timeGridDay dayGridWeek dayGridMonth listWeek',
          center: 'title',
          end:  'today prev,next'
        },
        allDaySlot: true,
        plugins: [ dayGridPlugin, timeGridPlugin, interactionPlugin, listPlugin ],
        weekends: false,
        displayEventEnd: true,
        selectable: true,
        events: `./events/calendar`,
        select: this.select,
        eventClick: this.eventClick
      }
    }
  },
  mounted() {
    var self = this;
    axios.get(`./tags.json`)
    .then(response => {
      this.all_tags = response.data;
    });


    
  },
  methods: {
    fetchUsers(search,loading){
      if (search.length >= 3){
        axios.get(`./users.json?search=${search}`)
        .then(response => {
          this.user_search_results = response.data
        });
      }
    },
    updateUser(value){
      if (this.selected_user_details != null){
        this.currentURL = `${this.eventsURL}?`;
        this.currentURL += `user_id=${value}&`
      }
      else {
        this.currentURL = this.eventsURL;
      }
      this.calendarOptions.events = this.currentURL;
    },
    fetchResources(search,loading){
      if (search.length >= 3){
        axios.get(`./equipment.json?search_term=${search}`)
        .then(response => {
          this.equipment_search_results = response.data
        });
      }
    },
    updateTags(value){
      if (this.chosen_tag_ids.length > 0){
        this.currentURL = `${this.eventsURL}?`;
        this.chosen_tag_ids.forEach( (value,index) => {
          this.currentURL += `tag_ids[]=${value}&`
        });
      }
      else {
        this.currentURL = this.eventsURL;
      }
      this.calendarOptions.events = this.currentURL;
    },
    updateEquipment(value){
      if (this.chosen_equip_ids.length > 0){
        this.currentURL = `${this.eventsURL}?`;
        this.chosen_equip_ids.forEach( (value,index) => {
          this.currentURL += `equip_ids[]=${value}&`
        });
      }
      else {
        this.currentURL = this.eventsURL;
      }
      this.calendarOptions.events = this.currentURL;
    },
    select(info) {
      window.location.href = `./bookings/new?start_date=${info.startStr}&end_date=${info.endStr}`;
    },
    eventClick(info) {
      window.location.href = `./bookings/${info.event.id}`;
    }
  }
};

</script>

<style lang="css">
.equip-list {
  list-style-type:none;
  overflow:hidden;
}


.fc-event {
  padding-left: 5px;
  padding-right: 5px;
  overflow:hidden;
}

.side-filter {
  margin-bottom:5px;
}

</style>