<div class="card">
  <div class="card-header">
    <div class="title oneline"><%= link_to equipment.name, edit_equipment_path(equipment) %></div>
  </div>
  <div class="card-body">
    <% taglist = [] %>
    <% equipment.tags.each do |tag| %>
      <% taglist.push(tag.name) %>
    <% end %>
    <div class="oneline cardtaglist"><i class="fa-tags icon-label"></i><%= taglist.join(", ") %></div>
    <div class="oneline"><i class="icon-barcode icon-label"></i><%= equipment.barcode %></div>
    <div class="oneline"><i class="fas fa-edit"></i></i><%= equipment.updated_at %></div>
  </div>
  <div class="card-footer clearfix">
    <div class="oneline">
      <span class="right"><%= Equipment.get_status(equipment.status) %></span>
      <input type="checkbox" class="booking-select" name="book" id="<%= equipment.id %>"></input>
      <label for="<%= equipment.id %>">Book</label></span>
    </div>
  </div>
</div>
