<table class="equipment">
	<thead>
		<tr>
			<th data-sort="spanInt" width="30"><i class="fas fa-sort"></i></th>
			<th data-sort="string" width="">Name</th>
			<th width="3"></th>
			<th data-sort="string" class="show-for-xlarge-up">Tags</th>
			<th data-sort="spanInt" class="status" align="right">Availability</th>
		</tr>
	</thead>
	<tbody>
		<% @equipment.each do |equip| %>
			<% cache(equip) do  #cache the ActiveRecord itself %>
				<tr class="equipment-records" data-equipment-id = "<%= equip.id %>" data-tag-ids="<%= equip.tag_ids_stringlist %>" data-barcode="<%= equip.barcode %>">
					<td class="book">
						<% checkbox_status = equip.status == 2 ? "disabled" : nil %>

						<input type="checkbox" class="booking-select" name="book" <%= checkbox_status %> id="<%= equip.id %>"></input>
						<span class="hide checkbox-status">0</span>
					</td>
					<td class="name">
						<%= equip.name %>
					</td>
					<td>
						<i class="fas fa-edit"></i>
					</td>
					<td class="tags show-for-xlarge-up">
						<%= equip.tags.map(&:name).join(', ') %>
					</td>
					<td align="right" class="status">
						<% if equip.status == 1 %>
							<i class="status fas fa-circle good"><span class="hide"><%= equip.status %></span></i>
						<% elsif equip.status == 2 %>
							<i class="status fas fa-circle warn"><span class="hide"><%= equip.status %></span></i>
						<% else %>
							<i class="status fas fa-circle bad"><span class="hide"><%= equip.status %></span></i>
						<% end %>
					</td>
				</tr>
			<% end%>
		<% end %>
	</tbody>
</table>
