
<table class="equipment">
	<thead>
		<tr>
			<th data-sort="spanInt" width="30"></th>
			<th data-sort="string" width="">Name</th>
			<th data-sort="string" class="show-for-medium-up">Categories</th>
		</tr>
	</thead>
	<tbody>
		<% equipment_list.each do |equip| %>
				<tr class="equipment-records" data-equipment-id = "<%= equip.id %>" data-tag-ids="<%= equip.tag_ids_stringlist %>" data-barcode="<%= equip.barcode %>">
					<td class="book">
						<% checkbox_status = equip.status == 2 ? "disabled" : nil %>
						<% checked_status = "" %>
						<% if selected_equipment.include?(equip) %>
							<% checked_status = "checked" %>
						<% end %>
						<!--<input type="checkbox" class="ss-booking-select" name="book" <%= checkbox_status %> id="<%= equip.id %>" <%= checked_status %>></input>-->
						<input type="checkbox" class="ss-booking-select" name="booking[equipment_ids][]" <%= checkbox_status %> id="<%= equip.id %>" value="<%= equip.id %>" <%= checked_status %>></input>
						
						<span class="hide checkbox-status">0</span>
					</td>
					<td class="name">
						<%= equip.name %>
					</td>
					<td class="tags show-for-medium-up">
						<%= equip.tags.map(&:name).join(', ') %>
					</td>
				</tr>
		<% end %>
	</tbody>
</table>
