var form_data = "<%= j render partial: 'equipment/form', locals: {equip_id: @equip_id} %>";

$('.add-equipment').html(form_data);

//initalize the clear button
$('.booking-clear').click(function() {
	$('.add-equipment').hide();
	$('.logout-button').show();
});

//tick the checkbox and genrate the UI for updating equipment
      $('#tag-checkboxes').children('input[type="checkbox"]').each(function()
      {
        var element = $(this);

        if(!element.attr('checked'))
        {
          return;
        }

        var element_id = element.attr('id');
        var element_name = $('label[for='+ element_id + ']').text();

        var id = element_id.split('_');
        id = id[id.length - 1];

        var tag_name = 'tag-id-' + id;

        $('#tag-list').append('<a id="' + tag_name + '" class="secondary label" href="#">' + element_name + ' &times;</a>&nbsp;');
        $('#' + tag_name).click(function()
        {
          element.prop('checked', false);
          $('#' + tag_name).remove();
        });
      });

      var $tag_input = $('.tagsearch');

      var tag_engine = new Bloodhound({
        datumTokenizer: function(obj) {
          return Bloodhound.tokenizers.whitespace(obj.name);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {
          url: document.URL.replace('#','') + '/tags.json'
        }
      });
      tag_engine.clearPrefetchCache();
      tag_engine.initialize();


      $tag_input.typeahead(null, {
        name: 'tags',
        displayKey: 'name',
        source: tag_engine.ttAdapter()
      });

      /*
      $tag_input.typeahead({
        name: 'tags',
        prefetch: { url: '/tags.json' },
        valueKey: 'name'
      });*/

      $tag_input.on('typeahead:selected', function (event, suggestion) {
          //reset the textbox
          $tag_input.val('');

          if(suggestion.added == true)
          {
            return;
          }

          var should_return = false;
          //check if it is loaded already ticked from a previous edit session
          $('#tag-list').children().each(function ()
          {
            var element = $(this);
            if(element.attr('id').indexOf(suggestion.id) > -1)
            {
              should_return = true;
              return;
            }
          });

          if(should_return)
          {
            return;
          }

          //check the appropriate checkbox
          $('#equipment_tags_' + suggestion.id).prop('checked', true);
          suggestion.added = true;

          //add a visual tag to the ui and logic to untick it
          var tag_name = 'tag-id-' + suggestion.id;
          $('#tag-list').append('<a id="' + tag_name + '" class="secondary label" href="#">' + suggestion.name + ' &times;</a>&nbsp;');
          $('#' + tag_name).click(function()
          {
            $('#equipment_tags_' + suggestion.id).prop('checked', false);
            $('#' + tag_name).remove();
            suggestion.added = false;
          });
      });
