<div class="summary-view-container">
  <h1><%= @equipment.name %></h1>
  
  <i class="fas fa-calendar-alt"></i> <%= link_to 'Back to Calendar', root_path %>
  <div class="row">
    <div class="large-6 columns">
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td>Created</td>
          <td><%= @equipment.created_at.localtime %></td>
        </tr>
        <tr>
          <td>Number of Bookings</td>
          <td><%= @equipment.bookings.count %></td>
        </tr>
        <tr>
          <td>Average Booking length</td>
          <td>
            <% 
              lengths = []
              @equipment.bookings.each do |booking|
                if !booking.events.first.nil?
                  lengths.push(booking.events.first.end - booking.events.first.start)
                end
              end
              if lengths.length == []
                average_length_s = 0
                average_length_hours = 0
                average_length_days = 0
              else
                average_length_s = lengths.inject{ |sum, el| sum + el }.to_f / lengths.size
                average_length_hours = average_length_s / 60 / 60
                average_length_days = average_length_hours / 24
              end
            %>
            <%= average_length_hours.round(1) %> hours, or <%= average_length_days.round(1) %> days
          </td>
        </tr>
      </tbody>
    </table>

    </div>
    <div class="large-6 columns">
      <div class="panel">
        <h3>Booking frequency by day</h3>
        <%= column_chart @equipment.related_events.group_by_day_of_week(:start, format: "%a").count %>
      </div>
    </div>
  </div>
  
  

    
  
</div>