<%= vite_client_tag %>
<%= vite_javascript_tag 'booking_form' %>

<!-- <%= form_for(@booking) do |f| %> -->
<%= hidden_field_tag 'booking[id]', @booking.id %>
<%= hidden_field_tag 'booking[equipment]', @booking.equipment_ids %>
<%= hidden_field_tag 'booking[self_serve]', !User.find_by_username(session[:current_username]).admin? %>
<%= hidden_field_tag 'logged_in_user', User.find_by_username(session[:current_username]).id %>
<%= hidden_field_tag 'self_serve_editable', @booking.self_serve_editable(session[:current_username]) %>
<div id="booking_form">
</div>


<!-- <% end %> -->