var li_item = "<li data-id='<%= @equip_id %>'><%= j render partial: 'bookings/row', locals: {equip_id: @equip_id, booking_exists: @booking_exists, booking_id: @booking_id} %></li>";

// add the same item to the two equip_list
$('#equip_list').append(li_item);