<%= vite_client_tag %>
<h2>Reservation Details</h2>
<%= vite_javascript_tag "sign_in_out" %>


<%= hidden_field_tag 'booking[id]', @booking.id %>
<% 
  statuses = {}
  @booking.equipment.each do |e|
    statuses[e.id] = @booking.get_item_status(e.id)
  end
%>
<%= hidden_field_tag 'equip_statuses', statuses.to_json %>

<%
  current_user = User.find_by_username(session[:current_username])
  admin_status = current_user.admin
%>
<%= hidden_field_tag 'admin_status', admin_status %>

<div id="sign_in_out"></div>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>