<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col">

      <div class="form-group">
        <label for="username">Username</label>
        <%= f.text_field :username, 
          :class => 'form-control',
          :placeholder => 'Enter a WatIAM Username',
          :id => 'username'
        %>
      </div>

      <div class="form-group">
        <label for="first_name">First Name</label>
        <%= f.text_field :firstname, 
          :class => 'form-control',
          :id => 'first_name'
        %>
      </div>

      <div class="form-group">
        <label for="last_name">Last Name</label>
        <%= f.text_field :lastname, 
          :class => 'form-control',
          :id => 'last_name'
        %>
      </div>

      <div class="form-group">
        <label for="comments">Comments</label>
        <%= f.text_area :comments, 
          :class => 'form-control',
          :id => 'comments'
        %>
      </div>

      <div class="form-group">
        <label for="admin">Admin?</label>
        <%= f.select :admin, 
          {"No" => false, "Yes" => true},
          :id => "admin"
        %>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <%= f.select :status, 
          options_for_select(User.valid_statuses, @user.status),
          :id => "status"
        %>
      </div>


    </div>
  </div>

    <!-- button row -->
  <div class="row">
    <div class="col">
      <% if @user.new_record? %>
        <%= button_tag(type: 'submit', id: "submituser", class: "btn btn-primary") do %>
          Create
        <% end %>
        <%= link_to 'Cancel', users_path, method: :get, class: "btn btn-secondary" %>
      <% else %>
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Update
        <% end %>
        <%= link_to 'Delete', @user, confirm: 'Are you sure? This cannot be undone.', method: :delete, :class => 'btn btn-danger' %>
        <%= link_to 'Cancel', @user, method: :get, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
      
<% end %>