<ul class="list users">
  <% User.all.sort{|a,b| a.username <=> b.username}.each do |user| %>
    <li>
    	<% if user.status == 0 %>
    		<i class="status right fas fa-circle good"></i>
    	<% else %>
    		<i class="status right fas fa-circle bad"></i>
    	<% end %>
        <span class="name"><%= link_to user.username,"javascript:createUserForm(" + user.id.to_s + ");" %></span>
    </li>
  <% end %>
</ul>
