var form_data = "<%= j render partial: 'users/form', locals: {user_id: @user_id} %>";

$('.add-users').html(form_data);

//initalize the clear button
$('.booking-clear').click(function() {
	$('.add-users').hide();
	$('.logout-button').show();
});
