<%= vite_client_tag %>
<%= vite_javascript_tag "user_list" %>
<main id="user_list">
  <h2>User List</h2>

  <!-- filters -->
  <div class="row equipment-toolbar form-row">
    <form action="./users" method="get" class="form-inline">
      <div class="input-group mr-2">
        <%= text_field_tag "search", params[:search], class: "form-control mr-2", id: "search_all", placeholder: "username" %>
      </div>

      <%= label_tag(:sort_order, "Sort", class: "sr-only") %>
        <div class="input-group mr-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Sort</div>
          </div>
          <%= select_tag(
            :sort_order,
            options_for_select(
              [
                ["Username: A-Z", "ASC" ],
                ["Username: Z-A", "DESC" ],
              ],
              params[:sort_order]
            ),
            class: "form-control"
          ) %>
        </div>
      
  

        <button class="btn btn-primary mr-2" type="submit" id="applySearchFilters">
          Search
        </button>

        <button class="btn btn-secondary mr-2" id="clearSearchFilters" >
          Clear
        </button>

    </form>
  </div>

  <div class="row mt-3">
    <div class="col">
      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <%= user.username %>
              </div>
              <div class="col-6">
                First Name: <%= user.firstname %><br />
                Last Name: <%= user.lastname %><br />
                Status: <%= user.status %><br />
                Admin: <%= user.admin %><br />
                Comments: <%= user.comments %>
              </div>
              <div class="col-3">
                <span class="btn-group">
                  <%= button_to user, method: :get, class: "btn btn-outline-secondary"   do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <%= button_to edit_user_path(user), method: :get, class: "btn btn-outline-secondary"  do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= button_to user, confirm: 'Are you sure?', method: :delete, class: "btn btn-outline-secondary" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="flickr_pagination">
      <%= will_paginate @users %>
    </div>
  </div>
</main>
