<div class="row">
  <div  class="col-6">
    <div id="tag_selector">
      <tag-selector></tag-selector>
    </div>
  </div>

  <div class="col-6">
    Select user: <input list="users" id="user_input" class="form-control">

    <datalist id="users">
      <option v-for="user in user_list" v-bind:value="user.username">
    </datalist>
  </div>
</div>