<select class="chosen-select" multiple>
	<% Tag.all.sort{|a,b| a.name <=> b.name}.each do |tag| %>
		<option class="ss-tag" data-tag-id='<%= tag.id.to_s %>' value='<%= tag.id.to_s %>'>
			<span class="name"><%= tag.name %></span>
		</option>
	<% end %>
</select>
