<nav class="col-2" id="sidebar">
  <% user = User.find_by_username(session[:current_username]) %>
  <% if user.admin %>
    <div class="list-group">
      <!-- DASHBOARD -->
      <a class="list-group-item collapsed" aria-expanded="false" href="./">
        <i class="fas fa-tachometer-alt"></i>
        <span class="d-none d-lg-inline">Dashboard</span>
      </a>

      <!-- RESERVATIONS -->
      <a class="list-group-item collapsed" aria-expanded="false" href="#reservations-sidebar" data-toggle="collapse">
        <i class="fas fa-calendar-alt"></i>
        <span class="d-none d-lg-inline">Reservations <i class="fa fa-caret-down"></i></span>
      </a>

      <div id="reservations-sidebar" class="collapse">
        <a class="list-group-item" href="bookings/new">Create</a>
        <a class="list-group-item" href="bookings/calendar">Calendar View</a>
        <a class="list-group-item" href="bookings">List View</a>
      </div>

      <!-- RESOURCES -->
      <a class="list-group-item collapsed" aria-expanded="false" href="#equipment-sidebar" data-toggle="collapse">
        <i class="fas fa-tools"></i>
        <span class="d-none d-lg-inline">Resources <i class="fa fa-caret-down"></i></span>
      </a>

      <div id="equipment-sidebar" class="collapse">
        <a class="list-group-item" href="equipment/new">Create</a>
        <a class="list-group-item" href="equipment">List</a> 
      </div>

      <!-- USERS -->
      <a class="list-group-item collapsed" aria-expanded="false" href="#users-sidebar" data-toggle="collapse">
        <i class="fas fa-users"></i>
        <span class="d-none d-lg-inline">Users <i class="fa fa-caret-down"></i></span>
      </a>

      <div id="users-sidebar" class="collapse">
        <a class="list-group-item" href="users/new">Create</a>
        <a class="list-group-item" href="users">List</a>
      </div>

      <!-- TAGS -->
      <a class="list-group-item collapsed" aria-expanded="false" href="#tags-sidebar" data-toggle="collapse">
        <i class="fas fa-tags"></i>
        <span class="d-none d-lg-inline">Tags <i class="fa fa-caret-down"></i></span>
      </a>

      <div id="tags-sidebar" class="collapse">
        <a class="list-group-item" href="tags/new">Create</a>
        <a class="list-group-item" href="tags">List</a>
      </div>

      <!-- SETTINGS -->
      <a class="list-group-item collapsed" aria-expanded="false" href="collections/<%= Collection.first.id %>/edit ">
        <i class="fas fa-cog"></i>
        <span class="d-none d-lg-inline">Settings</span>
      </a>

    </div>
  <% else %>
    <a class="list-group-item collapsed" aria-expanded="false" href="bookings/">
      <i class="far fa-calendar"></i>
      <span class="d-none d-lg-inline">My Reservations</span>
    </a>
    <a class="list-group-item collapsed" aria-expanded="false" href="selfserve">
      <i class="fas fa-calendar-plus"></i>
      <span class="d-none d-lg-inline">New Reservation</span>
    </a>
  <% end %>
 


  

</nav>