<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Parent booking</th>
      <th>Event ID</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.booking_id %></td>
        <td><%= event.id %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <td><%= event.valid_day_time? %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
