<div id="content">
	<div id="layout" class="row p-3">
		<div class="large-12 columns">
			<% if flash[:error_type] == "NonAdmin" %>
				<h3>Administrator Access Not Permitted</h3>
				<p>Error: <%= flash[:message] %></p>
				<p>Perhaps you meant to access the <%= link_to "self serve booking system", selfserve_url %> instead?</p>
			<% elsif flash[:error_type] == "InvalidDept" %>
				<h3>Self Serve Access Restricted</h3>
				<p>Error: <%= flash[:message] %></p>
			<% end %>

		</div>
	</div>
</div>