<p>Your booking was successful and can be picked up from the MAD Service Desk.</p>

<p>Please bring your WatCard when you come to pick up the equipment. The equipment will not be released without it.</p>