<template>
  <div class="container-fluid">
    <!-- filter row -->
    <div class="row equipment-toolbar">
      <form action="/equipment" method="get">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-3">
            <button class="btn btn-light dropdown-toggle" type="button" id="tagFilterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tags
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="tagFilterButton">
              <div :key="tag.id" v-for="tag in all_tags" class="form-check">
                <input v-if="selected_tags.find(t => t.id === tag.id) != undefined" checked @click="handleTagCheck" class="form-check-input" type="checkbox" :value="tag.id" name="tag_ids[]">
                <input v-else @click="handleTagCheck" class="form-check-input" type="checkbox" :value="tag.id" name="tag_ids[]">
                <label class="form-check-label">
                  {{ tag.name }}
                </label>
              </div>
            </div>
          </div>

          <!-- availability -->
          <div class="btn-group mr-3">
            <button class="btn btn-light dropdown-toggle" type="button" id="availabilityFilterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Availability
            </button>
            <div class="dropdown-menu" aria-labelledby="availabilityFilterButton">
              <span id="availability">
                <div class="form-group">
                  <label for="start_date_filter">Start Date</label>
                  <input @change="handleTimeFilterChange" v-model="start_date" class="form-control" type="date" id="start_date_filter" name="start_date">
                </div>
                <div class="form-group">
                  <label for="start_time_filter">Start Date</label>
                  <input @change="handleTimeFilterChange" class="form-control" v-model="start_time" type="time" id="start_time_filter" name="start_time">
                </div>
                <div class="form-group">
                  <label for="end_date_filter">End Date</label>
                  <input @change="handleTimeFilterChange" class="form-control" v-model="end_date" type="date" id="end_date_filter" name="end_date">
                </div>
                <div class="form-group">
                  <label for="end_time_filter">End Time</label>
                  <input @change="handleTimeFilterChange" class="form-control" v-model="end_time" type="time" id="end_time_filter" name="end_time">
                </div>
              </span>
            </div>
          </div>

          <!-- search -->
          <div class="input-group">
            <input v-model="current_search_term" @input="handleEquipmentSearch" class="form-control" type="text" id="search_all" placeholder="barcode or name" aria-label="search by barcode or name" />
          </div>

        </div>
      </form>
    </div>

    <!-- applied filters -->
    <div class="row mt-3">
      Showing X of 
    </div>
    <div class="row mt-3 ml-3 mr-3">
      <div class="btn-group-sm">
         
        <button :key="tag.id" class="btn btn-outline-secondary" v-for="tag in selected_tags">
          Tag: {{ tag.name }}
          <i class="fas fa-times"></i>
        </button>

        <button 
          v-if="
            time_filter.hasOwnProperty('start_date') &&
            time_filter.hasOwnProperty('start_time') &&
            time_filter.hasOwnProperty('end_date') &&
            time_filter.hasOwnProperty('end_time') &&
            time_filter.start_date != '' &&
            time_filter.start_time != '' &&
            time_filter.end_date != '' &&
            time_filter.end_time != ''
          " 
          class="btn btn-outline-secondary"
        >
          Availability: {{ time_filter.start_date }} {{ time_filter.start_time }} to {{ time_filter.end_date }} {{ time_filter.end_time }}
          <i class="fas fa-times"></i>
        </button>
      </div>

    </div>

  <!-- equipment list -->
  <div class="row mt-3 ml-3 mr-3">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" v-for="equipment in equipment_list" :key="equipment.id">      
          <div class="row">
            <div class="col-6">
              {{ equipment.name }}
            </div>

            <div class="col-3">
              <div v-for="tag in equipment.tags" :key="tag.id">
                <small><i class="fas fa-tag"></i> {{ tag.name }}</small>
              </div>
            </div>
          
          <div class="col-3">
            <span class="btn-group">
              <!-- <%= button_to equipment, class: "btn btn-outline-secondary"   do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= button_to edit_equipment_path(equipment), class: "btn btn-outline-secondary"  do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= button_to equipment, confirm: 'Are you sure?', method: :delete, class: "btn btn-outline-secondary" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %> -->
            </span>
          </div>
        </div>
        
        <small><i class="fas fa-barcode"></i> {{ equipment.barcode }}</small>
      
      </li>
    </ul>
  </div>
</div>
  </div>

</template>

<script>
import axios from 'axios';

export default {
  name: 'equipment-filter',
  data() {
    return {
      all_tags: [],
      selected_tags: [],
      time_filter: {},
      equipment_list: [],
      current_search_term: "",
      start_date: "",
      start_time: "",
      end_date: "",
      end_time: "",
    }
  },
  methods: {
    getEquipmentFromFilters(){
      let url_params = "?";

      //Search terms
      if (this.current_search_term != ""){
        url_params += `search_term=${this.current_search_term}&`;
      }

      //Tag ids
      if (this.selected_tags.length > 0){
        this.selected_tags.forEach((item,index) => {
          url_params += `tag_ids[]=${item.id}&`
        })
      }

      //Availability
      if (this.start_time != "" && this.start_date != "" && this.end_time !="" && this.end_date !=""){
        url_params += `start_time=${this.start_time}&`
        url_params += `start_date=${this.start_date}&`
        url_params += `end_time=${this.end_time}&`
        url_params += `end_date=${this.end_date}&`
      }

      axios.get(`/equipment.json${url_params}`)
      .then(response => {
        this.equipment_list = response.data
      })
    },
    handleTimeFilterChange(event){
      // find the id of the element being changed
      if (this.start_time != "" && this.start_date != "" && this.end_time !="" && this.end_date !=""){
        this.getEquipmentFromFilters();
      }

      // if all four parts of the time filter are populated, and start comes
      // before end, then run a search
    },
    handleEquipmentSearch(event){
      if(this.current_search_term.length > 2){
        this.getEquipmentFromFilters()
      }
    },
    handleTagCheck(event) {
      // click event's target will be the checkbox input for a tag
      // get the element
      var tag_id = event.target.value;
      var checked_status = event.target.checked;
      // if element is checked, find it in the master list and
      // add it to the selected list
      if(checked_status){
        var tag_obj = this.all_tags.find(tag => {
          return tag.id.toString() === tag_id;
        });
        this.selected_tags.push(tag_obj)
      }
      // if element is unchecked, find it in the selected list and
      // remove it
      else {
        this.selected_tags = this.selected_tags.filter( el => {
          return el.id.toString() !== tag_id ;
        });
      }

      // get the results
      this.getEquipmentFromFilters()
    },
  },
  mounted() {
    var self = this;
    var search_params = decodeURIComponent(window.location.search.slice(1)).split("&").map(s => s.split("="));

    // get all tags and set list
    axios.get("/tags.json")
    .then(function(response){
      self.all_tags = response.data.sort((a,b) => {
        a = a.name.toLowerCase();
        b = b.name.toLowerCase();

        return (a < b) ? -1 : (a > b) ? 1 : 0;
      });

    // parse search params from URL and build filter UI components
    // TODO: Right now this happens after the list of all tags is populated
    // so that we can have the names of the selected tags, not just the IDs
    for ( var i = 0; i < search_params.length; i++ ){
      // get selected tags from URL and set list
      if (search_params[i][0] == "tag_ids[]"){
        var tag_obj = self.all_tags.find(tag => {
          return tag.id.toString() === search_params[i][1];
        });
        self.selected_tags.push(tag_obj)
      }
      // get date/time filters from URL and add to list
      else if (search_params[i][0] == "start_date" && search_params[i][0] != ""){
        self.time_filter.start_date = search_params[i][1];
      }
      else if (search_params[i][0] == "end_date" && search_params[i][0] != ""){
        self.time_filter.end_date = search_params[i][1];
      }
      else if (search_params[i][0] == "start_time" && search_params[i][0] != ""){
        self.time_filter.start_time = search_params[i][1];
      }
      else if (search_params[i][0] == "end_time" && search_params[i][0] != ""){
        self.time_filter.end_time = search_params[i][1];
      }
    }

    });
  }
}
</script>

<style scoped>
  .equipment-toolbar{
    background-color: #ffffff;
  }
</style>