var form_data = "<%= j render partial: 'tags/form', locals: {tag_id: @tag_id} %>";

$('.add-tags').html(form_data);

//initalize the clear button
$('.booking-clear').click(function() {
	$('.add-tags').hide();
	$('.logout-button').show();
});
