.scrollable-menu {
  width: 300px;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.navbar-black {
  background-color: #000000;
}

.navbar-black > a {
  color: #ffffff;
}

.uw-colour-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 16px;
}

.uw-colour-bar > .uw-colour-bar-1 {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ffffaa;
}
.uw-colour-bar > .uw-colour-bar-2 {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ffea3d;
}
.uw-colour-bar > .uw-colour-bar-3 {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ffd54f;
}
.uw-colour-bar > .uw-colour-bar-4 {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #e4b429;
}

#sidebar {
  height: 100vh;
  background-color: #787878;
}

#sidebar .list-group-item {
  border-radius: 0;
  background-color: #787878;
  color: #ccc;
  border-left: 0;
  border-right: 0;
  border-color: #6d6d6d;
  white-space: nowrap;
  text-decoration: none;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
  background-color: #444;
}

/* closed state */


/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #444;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}


//Spinner
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Equipment List */
.tag-list {
  height: 100px;
  overflow: auto;
}

.user-result {
  border-top: 1px solid #eee;
  padding: 16px;
  background: transparent;
}

.user-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.user-submessage {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}