<%= vite_client_tag %>
<%= vite_javascript_tag "open_hour" %>

<div id="open_hour_form">
  <%= form_for(@open_hour) do |f| %>
    <% if @open_hour.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@open_hour.errors.count, "error") %> prohibited this open_hour from being saved:</h3>

        <ul>
        <% @open_hour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row mb-3">
      <div class="col-6">
        <div class="card">
          <div class="card-header">Dates/Times</div>
          <div class="card-body">
            <div id="open_hour_dates_times">

              <%
                vf_val = @open_hour.valid_from.nil? ? DateTime.now : @open_hour.valid_from.iso8601
              %>
              <%= f.label :valid_from %>

              <input type="date" name="open_hour[valid_from]" value=<%= vf_val %>>
              <br />

              <%
                vu_val = @open_hour.valid_until.nil? ? DateTime.now : @open_hour.valid_until.iso8601
              %>
              <%= f.label :valid_until %>
              <input type="date" name="open_hour[valid_until]" value=<%= vu_val %>>
              <br />

              <%
                st_value = @open_hour.start_time.nil? ? Time.current.strftime("%H:%M") : @open_hour.start_time.in_time_zone.strftime("%H:%M")
              %>
              <%= f.label :start_time %>
              <input type="time" name="open_hour[start_time]" value=<%= st_value %>>
              <br />


              <%
                et_value = @open_hour.end_time.nil? ? Time.current.strftime("%H:%M") : @open_hour.end_time.in_time_zone.strftime("%H:%M")
              %>
              <%= f.label :end_time %>
              <input type="time" name="open_hour[end_time]" value=<%= et_value %>>
              <br />

            </div>
            
              
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">Days</div>
          <div class="card-body">
            <div class="days">
              <div class="field">
                <%= f.check_box :sunday %>
                <%= f.label :sunday %>
              </div>
              <div class="field">
                <%= f.check_box :monday %>
                <%= f.label :monday %>
              </div>
              <div class="field">
                <%= f.check_box :tuesday %>
                <%= f.label :tuesday %>
              </div>
              <div class="field">
                <%= f.check_box :wednesday %>
                <%= f.label :wednesday %>
              </div>
              <div class="field">
                <%= f.check_box :thursday %>
                <%= f.label :thursday %>
              </div>
              <div class="field">
                <%= f.check_box :friday %>
                <%= f.label :friday %>
              </div>
              <div class="field">
                <%= f.check_box :saturday %>
                <%= f.label :saturday %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="form-row">
      <div class="col">
        <% if @open_hour.new_record? %>
          <%= f.submit "Create new open hour range", { class: "btn btn-primary mr-2" } %>
          <%= link_to 'Cancel', open_hours_path, method: :get, class: "btn btn-secondary" %>
        <% else %>
          <%= f.submit "Edit open hour range", { class: "btn btn-primary mr-2" } %>
          <%= link_to 'Cancel', @open_hour, method: :get, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
