<main id="open_hour_list">
  <h2>Opening Hours</h2>

  <div class="card">
    <div class="card-header">Instructions</div>
    <div class="card-body">
      Bookings can be created whenever:
      <ul>
        <li>Start and end times for the booking fall on a day/time
            within one of the opening hour ranges below</li>
        <li>Start and end times for the booking do not fall in a 
            <%= link_to 'closed range', closed_hours_path %></li>
      </ul>
    </div>
  </div>
  


  <table class="table">
    <thead>
      <tr>
        <th>Valid from</th>
        <th>Valid until</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @open_hours.each do |open_hour| %>
        <tr>
          <td><%= open_hour.valid_from %></td>
          <td><%= open_hour.valid_until %></td>
          <td><%= open_hour.start_time.in_time_zone.strftime("%l:%M %P") %></td>
          <td><%= open_hour.end_time.in_time_zone.strftime("%l:%M %P") %></td>
          <td><%= open_hour.sunday %></td>
          <td><%= open_hour.monday %></td>
          <td><%= open_hour.tuesday %></td>
          <td><%= open_hour.wednesday %></td>
          <td><%= open_hour.thursday %></td>
          <td><%= open_hour.friday %></td>
          <td><%= open_hour.saturday %></td>
          <td><%= link_to 'Edit', edit_open_hour_path(open_hour) %></td>
          <td><%= button_to 'Delete', open_hour, {method: :delete, onclick: "return confirm('Are you sure?')"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-row">
    <%= link_to new_open_hour_path, { class: "btn btn-primary mr-3" } do %>
      <i class="fas fa-plus"></i> 
      Define New Opening Hour Range
    <% end %>
    <%= link_to edit_collection_path(Collection.first), { class: "btn btn-secondary mr-3" } do %>
      <i class="fas fa-cog"></i> 
      Back to Settings
    <% end %>
    <%= link_to root_path, { class: "btn btn-secondary" } do %>
      <i class="fas fa-calendar-alt"></i> 
      Back to Calendar
    <% end %>
  </div>
  
</div>