<main id="closed_hour_list">
  <h2>Closed Hours</h2>
   <div class="card">
    <div class="card-header">Instructions</div>
    <div class="card-body">
      Bookings can be created whenever:
      <ul>
        <li>Start and end times for the booking fall on a day/time
            within one of the <%= link_to 'open ranges', open_hours_path %></li>
        <li>Start and end times for the booking do not fall in a 
            closed range below</li>
      </ul>
    </div>
  </div>



  <table class="table">
    <thead>
      <tr>
        <th>Closed start</th>
        <th>Closed end</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @closed_hours.each do |closed_hour| %>
        <tr>
          <td><%= closed_hour.closed_start.localtime.strftime("%F %I:%M %p") %></td>
          <td><%= closed_hour.closed_end.localtime.strftime("%F %I:%M %p") %></td>
          <td><%= button_to 'Edit', edit_closed_hour_path(closed_hour), method: :get %></td>
          <td><%= button_to 'Delete', closed_hour, {method: :delete, onclick: "return confirm('Are you sure?')"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="form-row">
    <%= link_to new_closed_hour_path, { class: "btn btn-primary mr-3" } do %>
      <i class="fas fa-plus"></i> 
      Define New Closed Hour Range
    <% end %>
    <%= link_to edit_collection_path(Collection.first), { class: "btn btn-secondary mr-3" } do %>
      <i class="fas fa-cog"></i> 
      Back to Settings
    <% end %>
    <%= link_to root_path, { class: "btn btn-secondary" } do %>
      <i class="fas fa-calendar-alt"></i> 
      Back to Calendar
    <% end %>
  </div>

</div>