<p id="notice"><%= notice %></p>

<p>
  <strong>Closed start:</strong>
  <%= @closed_hour.closed_start %>
</p>

<p>
  <strong>Closed end:</strong>
  <%= @closed_hour.closed_end %>
</p>

<%= link_to 'Edit', edit_closed_hour_path(@closed_hour) %> |
<%= link_to 'Back', closed_hours_path %>
