<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Booking System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href=<%= ENV['BASE_URL'] %>>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <script src="https://fast.uwaterloo.ca/static/fast-overlay.js"></script>
    <% if ENV['PROJECTOR_ID'] %>
      <script>window.projector.mount({ id: <%= ENV['PROJECTOR_ID'] %> })</script>
    <% end %>
    <%= render "shared/navigation" %>
    <div class="container-fluid">
      <div id="app" class="row">
        <%= render "shared/sidenav" %>
        <div class="col-md-10 col-xs-11">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
